site_name: Documentation
site_url: https://cermas.github.io/cermas-mkdocs/
theme:
  logo: assets/logo2.png
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.tabs.link
  palette:
    - scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
repo_url: https://github.com/cermas/cermas-mkdocs
repo_name: cermas-documentation

nav:
  - Home: index.md
  - DFT:
    - DFT Overview: DFT/DFT.md
    - CASTEP with AOCL: DFT/Installation CASTEP - AOCL.md
    - CASTEP with MKL: DFT/Installation CASTEP - MKL.md
    - Python Runner: DFT/Python Runner.md
  - SIMPSON:
    - SIMPSON Overview: SIMPSON/SIMPSON.md
    - Installation: SIMPSON/Installation.md
  - NMR Lectures:
    - Lecture 1: NMR Lectures/lecture_1.md
    - Lecture 2: NMR Lectures/lecture_2.md



markdown_extensions:
  - md_in_html
  - admonition
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true

plugins:
  - search
  - mike

  # uncomment if you want blog or tags later:
  # - blog
  # - tags
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/your-org
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/your-handle
  version:
    provider: mike
    default : latest

extra_css:
  - css/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js